.research-page-content {
    max-width: 1280px;
    width: 100%;
}

.research-page-content > div {
  margin-bottom: 2rem;
}

.research-page-content > div:last-child {
  margin-bottom: 0;
}

.recruitment-box {
  background-color: #906d6d;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.quote-box {
  background-color: #46697b;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.APS-box {
  background-color: #335126;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.aps-link {
  color: #eeeeee; /* pick your color */
}

.aps-link:hover {
  color: #b6d7a8; /* optional hover color */
}

.dissertation-heading {
  color: #906d6d;
}

.changing-ag-heading {
  color: #335126;
}

.rural-liv-heading {
  color: #46697b;
}
