.research-page-content {
    max-width: 1280px;
    width: 100%;
}

.research-page-content > div {
  margin-bottom: 2rem;
}

.research-page-content > div:last-child {
  margin-bottom: 0;
}

.recruitment-box {
  background-color: #ce9c9c;
  color: #2a3f49;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.quote-box {
  background-color: #46697b;
  color: white;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
}

.changing-ag-heading {
  color: #335126;
}

.rural-liv-heading {
  color: #46697b;
}
