.research-page-content {
    max-width: 1280px;
    width: 100%;
}

.recruitment-box {
  background-color: #74a992;
  padding: 1rem;
  margin: 1rem 0;
}

.changing-ag-heading {
  color: #335126;
}

.rural-liv-heading {
  color: #46697b;
}
