.home-page-content {
  max-width: 1280px;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

@media (min-width: 769px) {
  .home-page-content {
    grid-template-columns: minmax(200px, min(350px, 40%)) 1fr;
    grid-template-rows: auto;
  }
}

.image-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.text-content {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-content p {
  margin: 0;
}

.cv-link {
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  justify-self: center;

  background-color: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  .cv-link {
    background-color: #f9f9f9;
  }
}

.cv-link-container {
  display: flex;
  align-self: center;
}