.page-content {
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
    grid-template-rows: auto auto;

  /* TODO: should this be applied via layout? */
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .page-content {
    grid-template-columns: auto 1fr;
  }
}

.image-content img {
  width: 100%;
  height: auto;
  max-width: 350px;
  min-width: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-content {
  line-height: 1.6;
}

